
<div class="card-header d-flex justify-content-between align-items-center">
  <h3 class="card-title mt-1">
    Editing todo_item
  </h3>
  <div>
  <%= link_to 'Show', [@todo_item.todo_list, @todo_item], class: 'btn btn-secondary btn-sm'%>
  </div>
</div>
<ul class="list-group">
    <li class="list-group-item bg-light">
      <div class="w-100">
        <%= render 'form' %>
      </div>
    </li>
</ul>

